<table class="table table-border table-striped table-hover table-primary " style="padding: 2px 5px;">
    <thead>
      <tr>
        <th>S.NO.</th>
        <th>NAME OF THE COLLEGE</th>
        <th>COLLEGE FEE</th>
        <th>AREA NAME</th>
        <th>RATING OUT 5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01</td>
        <td>JAWAHRLAL NEHRU TECHNOLOGY OF UNIVERSITY HYDERABAD</td>
        <td>50,000</td>
        <td>KUKATPALLI</td>
        <td>4.9</td>
      </tr>      
      <tr>
        <td>02</td>
        <td>SRI VASAVI COLLEGE OF ENGINEERING, HYDERABAD</td>
        <td>1,50,000</td>
        <td>GANDIPET</td>
        <td>4.8</td>
      </tr>      
      <tr>
        <td>03</td>
        <td>CHAITHANYA BHARATHI INSTITUTE OF TECHNOLOGY, HYDERABAD</td>
        <td>1,10,000</td>
        <td>GANDIPET</td>
        <td>4.7</td>
      </tr>      
      <tr>
        <td>04</td>
        <td>MAHATHMA GANDHI INSTITUTE OF TECHNOLOGY & SCIENCES,  HYDERABAD</td>
        <td>1,05,000</td>
        <td>KUKATPALLI</td>
        <td>4.8</td>
      </tr>      
      <tr>
        <td>05</td>
        <td>OSMANIA UNIVERSITY ( COLLEGE OF ENGINEERING ), HYDERABAD</td>
        <td>50,000</td>
        <td>TARNAKA</td>
        <td>4.9</td>
      </tr>      
      <tr>
        <td>06</td>
        <td>bHOJREDDY ENGINEERING COLLEGE FOR WOMEN, HYDERABAD</td>
        <td>80,000</td>
        <td>SANTHOSH NAGAR X ROAD , HYDERABAD</td>
        <td>4.2</td>
      </tr>      
      <tr>
        <td>07</td>
        <td>VIGANA JYOTHI INSTITUTE OF ENGINEERING&  TECHNOLOGY, HYDERABAD</td>
        <td>75,000</td>
        <td>NIAZAMPET</td>
        <td>4.5</td>
      </tr>      
      <tr>
        <td>08</td>
        <td>CMR GROUP OF INSTITUTIONS & CAMPUS, HYDERABAD</td>
        <td>90,000</td>
        <td>MEDCHAL</td>
        <td>4.6</td>
      </tr>      
      <tr>
        <td>09</td>
        <td>G NARAYANAMMA INSTITUTE OF TECHNOLOGY & SCIENCES FOR WOMEN, HYDERABAD</td>
        <td>90,000</td>
        <td>SHAIKPET</td>
        <td>4.8</td>
      </tr>
      
      <tr>
        <td>10</td>
        <td>SPOORTHY ENGINEERING COLLEGE , HYDERABAD</td>
        <td>85,000</td>
        <td>NADARGOAL SAROORNAGR MANDAL</td>
        <td>4.6</td>
      </tr>
      <tr>
        <td>11</td>
        <td>SNIT Shri Nidhi Institute Of technology & Sciences (HYDERABAD)</td>
        <td>95,000</td>
        <td>YAMNAMPET, GHATKESAR</td>
        <td>4.8</td>
      </tr>
      <tr>
        <td>12</td>
        <td>CSI Wesley Institute Of technology & Sciences (HYDERABAD)</td>
        <td>75,000</td>
        <td>PARADISE, BEGAMPET</td>
        <TD>4.2</TD>
      </tr>
      <TR>
        <TD>13</TD>
        <TD> (MVSREC) MVSR ENGINEERING COLLEGE (HYDERABAD)</TD>
        <TD>89,000</TD>
        <TD>HYDERABAD</TD>
        <TD>4.6</TD>
      </TR>
      <TR>
        <TD>14</TD>
        <TD>(KMIT) KESHAV MEMORIAL INSTITUTE OF TECHNOLOGY KESHAV MEMORIAL INSTITUTE OF TECHNOLOGY (HYDERABAD)</TD>
        <TD>85,000</TD>
        <TD>NARAYANGUDA ,HYDERABAD</TD>
        <TD>4.7</TD>
      </TR>
      <TR>
        <TD>15</TD>
        <TD>(VBIT) VIGNANA BHARATHI INSTITUTE OF TECHNOLOGY (HYDERABAD)</TD>
        <TD>79,000</TD>
        <TD>GHATKESAR</TD>
        <TD>4.7</TD>
      </TR>
      <TR>
        <TD>16</TD>
        <TD>(VCE) VARDHAMAN COLLEGE OF ENGINEERING (HYDERABAD)</TD>
        <TD>86,000</TD>
        <TD>SHADHNAGR</TD>
        <TD>4.8</TD>
      </TR>
      <TR>
        <TD>17</TD>
        <TD>(MIST) MAHAVEER INSTITUTE OF SCIENCE AND TECHNOLOGY (HYDERABAD)</TD>
        <TD>85,000</TD>
        <TD>BANDLAGUDA, ARAMGHAR</TD>
        <TD>4.6</TD>
      </TR>
      <TR>
        <TD>18</TD>
        <TD>(DIET) DHRUVA INSTITUTE OF ENGINEERING & TECHNOLOGY (HYDERABAD)</TD>
        <TD>81,000</TD>
        <TD>HYDERABAD</TD>
        <TD>4.5</TD>
      </TR>
      <TR>
        <TD>19</TD>
        <TD>(BIET) BHARAT INSTITUTE OF ENGINEERING AND TECHNOLOGY (HYDERABAD)</TD>
        <TD>78,000</TD>
        <TD>HYDERABAD</TD>
        <TD>4.2</TD>
      </TR>
      <TR>
        <TD>20</TD>
        <TD>(VGI) VIVEKANANDA GROUP OF INSTITUTIONS (HYDERABAD)</TD>
        <TD>85,000</TD>
        <TD>HYDERABAD</TD>
        <TD>4.5</TD>
      </TR>
      <TR>
        <TD>21</TD>
        <TD>(SCET ) SHADAN COLLEGE OF ENGINEERING AND TECHNOLOGY (HYDERABAD)</TD>
        <TD>80,000</TD>
        <TD>KHAIRATHBAD, HYDERABAD</TD>
        <TD>4.5</TD>
      </TR>
      <TR>
        <TD>22</TD>
        <TD>PROFESSOR JAYASHANKAR TELANGANA STATE AGRICULTURAL UNIVERSITY (HYDERABAD)</TD>
        <TD>85,000</TD>
        <TD>HYDERABAD</TD>
        <TD>4.8</TD>
      </TR>
      <TR>
        <TH colspan="5" style="text-align: center; text-decoration: orange;">WE ARE WORKING ON MORE INFORMATION TO HELP YOU. STAY CONNECT WITH US. THANK YOU</TH>
      </TR>
      </tbody>
      