
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid" style="background-color: powderblue;padding: 20px 100px;">
    <h2 style="color: orange;background-color: palegreen;text-decoration: underline;"> <marquee behavior="" direction="left">Top Engineering Colleges in Hyderabad 2022</marquee>  </h2>
<h5>There are a total of nearly 120 engineering colleges in Hyderabad which offer a full-time and distance-learning mode of study. Out of the total number of colleges, 88% are Private, 11% are Government and 1% are Public-Private institutes. As per the NIRF rankings, out of the total, there are 17 top engineering colleges in Hyderabad. </h5>

<h3 style="color: orange; background-color: paleturquoise;text-decoration: underline;"> <marquee behavior="" direction="right">Top Engineering Colleges in Hyderabad Highlights. </marquee> </h3>
  </div>
  
 <div class="row">

   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>JNTUH College of Engineering, Kukatpally (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c1t20.jpg" alt="no image" routerLink="/listofcolleges"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>Osmania University , College of Engineering (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c2t20.jpg" alt="no image" routerLink="/listofcolleges"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>Sri Vasavi College Of Engineering (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c3t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>

   
   

 </div> 
  
 <div class="row">

   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>CBIT Chaithanya Bharathi Institute Of technology (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c4t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>MGIT Mahathma Gandhi Institute of technology (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c5t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>SNIT Shri Nidhi Institute Of technology & Sciences  (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c6t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>

   
   

 </div> 
  
 <div class="row">

   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>G Narayanamma Institute Of technology & Sciences (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c7t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>CSI Wesley Institute Of technology & Sciences (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c8t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>GRIT Gokaraju Rangaraju Institute of technology & Sciences(HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c9t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>

   
   

 </div> 
 <div class="row">

   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>SITS Shri Indhu Institute Of technology & Sciences (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c10t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span> G Narayanamma Institute Of technology & Sciences (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c11t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>	(MVSREC) MVSR ENGINEERING COLLEGE (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c12t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>

   
   

 </div> 
 <div class="row">

   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>(KMIT) KESHAV MEMORIAL INSTITUTE OF TECHNOLOGY KESHAV MEMORIAL INSTITUTE OF TECHNOLOGY (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c13t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>(VBIT) VIGNANA BHARATHI INSTITUTE OF TECHNOLOGY (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c14t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>(VCE) VARDHAMAN COLLEGE OF ENGINEERING (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c15t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>

   
   

 </div> 
 <div class="row">

   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>(MIST) MAHAVEER INSTITUTE OF SCIENCE AND TECHNOLOGY (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c16t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>(DIET) DHRUVA INSTITUTE OF ENGINEERING & TECHNOLOGY (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c1t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>(BIET) BHARAT INSTITUTE OF ENGINEERING AND TECHNOLOGY (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c17t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>

   
   

 </div> 
 <div class="row">

   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>(VGI) VIVEKANANDA GROUP OF INSTITUTIONS (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c18t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>(SCET ) SHADAN COLLEGE OF ENGINEERING AND TECHNOLOGY (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c19t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <div class="card">
       <div class="card-header"><span>College Name :</span>
        <span>	PROFESSOR JAYASHANKAR TELANGANA STATE AGRICULTURAL UNIVERSITY (HYDERABAD)</span>
         <div class="card-body">       
           <a routerLink="/listofcolleges"><img src="./assets/images/collegelists/c20t20.jpg" alt="no image"> </a>
          
           <div class="card-footer"> <span>Rating : 4.9 /5 . </span>
           <button class="btn btn-info" routerLink="/listofcolleges"> more details</button>  </div>
         </div>
       </div>
     </div>
   </div>

   

 </div> 



  

</body>
</html>





<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="block">
            <div class="thumbnail">
              <a href="#" class="thumb-zoom" title="Eugene A. Kopyov"> 
                <img src="../../assets/images/pexels-ali-madad-sakhirani-3396019.jpg" alt="no image">
              </a>
                <div class="caption text-center">
                  <h4 >  Now @ 15/- Per KG. <h5>20/- Per KG.</h5></h4>
                  <div class="icons-group">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                </div>
              </div>
          </div>
        </div>
      
        <div class="col-md-4 col-sm-6">
          <div class="block">
              <div class="thumbnail">
              <a href="#g" class="thumb-zoom" title="Sophia R. McJamer">
                  <img src="../../assets/images/pexels-anastasiya-gepp-1462631.jpg" alt="no image">
                </a>
                <div class="caption text-center">
                  <h4>Now @ 20/- Per KG. <h5>25/- Per KG.</h5></h4>
                  <div class="icons-group">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                </div>
              </div>
          </div>
        </div>
      
        <div class="col-md-4 col-sm-6">
          <div class="block">
              <div class="thumbnail">
              <a href="#" class="thumb-zoom" title="Noah Kennedy">
                  <img src="../../assets/images/pexels-andrea-piacquadio-3769714.jpg" alt="no image">
                </a>
                <div class="caption text-center">
                  <h4>Now @ 35/- Per KG. <h5>45/- Per KG.</h5></h4>
                  <div class="icons-group">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                </div>
              </div>
          </div>
        </div>
          
        <div class="col-md-4 col-sm-6">
          <div class="block">
              <div class="thumbnail">
              <a href="#" class="thumb-zoom" title="Noah Kennedy">
                  <img src="../../assets/images/pexels-andrea-piacquadio-3772712.jpg" alt="no image">
                </a>
                <div class="caption text-center">
                  <h4>Now @ 40/- Per KG. <h5>50/- Per KG.</h5></h4>
                  <div class="icons-group">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                </div>
              </div>
          </div>
        </div>
          
        <div class="col-md-4 col-sm-6">
          <div class="block">
              <div class="thumbnail">
              <a href="#" class="thumb-zoom" title="Noah Kennedy">
                  <img src="./assets/images/home/lemon.jpg" alt="no image">
                </a>
                <div class="caption text-center">
                  <h4>Now @ 40/- Per KG. <h5>50/- Per KG.</h5></h4>
                  <div class="icons-group">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                </div>
              </div>
          </div>
        </div> 
        <div class="col-md-4 col-sm-6">
          <div class="block">
              <div class="thumbnail">
              <a href="#" class="thumb-zoom" title="Noah Kennedy">
                  <img src="./assets/images/home/potato.jpg" alt="no image">
                </a>
                <div class="caption text-center">
                  <h4>Now @ 40/- Per KG. <h5>50/- Per KG.</h5></h4>
                  <div class="icons-group">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                </div>
              </div>
          </div>
        </div> 
        <div class="col-md-4 col-sm-6">
          <div class="block">
              <div class="thumbnail">
              <a href="#" class="thumb-zoom" title="Noah Kennedy">
                  <img src="./assets/images/home/tomato.jpg" alt="no image">
                </a>
                <div class="caption text-center">
                  <h4>Now @ 35/- Per KG. <h5>40/- Per KG.</h5></h4>
                  <div class="icons-group">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                </div>
              </div>
          </div>
        </div> 
        <div class="col-md-4 col-sm-6">
          <div class="block">
              <div class="thumbnail">
              <a href="#" class="thumb-zoom" title="Noah Kennedy">
                  <img src="./assets/images/home/shelf.jpg" alt="no image">
                </a>
                <div class="caption text-center">
                  <h4>Now @ 45/- Per KG. <h5>50/- Per KG.</h5></h4>
                  <div class="icons-group">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                </div>
              </div>
          </div>
        </div> 
          
        <div class="col-md-4 col-sm-6">
          <div class="block">
              <div class="thumbnail">
              <a href="#" class="thumb-zoom" title="Noah Kennedy">
                  <img src="./assets/images/home/onions.jpg" alt="no image">
                </a>
                <div class="caption text-center">
                  <h4>Now @ 40/- Per KG. <h5>50/- Per KG.</h5></h4>
                  <div class="icons-group">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                </div>
              </div>
          </div>
        </div>
      </div>

</body>
</html> -->