<form name="signupform" >
    
    SIGNUP FORM
    <input type="text" name="username" id="username" placeholder="enter your username">
    <input type="password" name="password" id="password" placeholder="enter your password" >
    <input type="email" name="email" id="email" placeholder="enter your email ID">
    <input type="number" name="mobile" id="mobile" placeholder="enter your mobile">
    <input type="submit" value="signup" routerLink="/collegelist" >
    <div>------------- OR SIGNIN A ACCOUNT --------------</div>
    <input type="submit" value="signin" routerLink="/collegelist">
</form>

